* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    scrollbar-width: thin;
    scrollbar-color: #50D;
}

.navbar {
    background-image: linear-gradient(#002f, #0000);
    font-weight: bold;
}

.lv1-nav { 
    display: inline-flex;
    position: relative;
    color: #ffffff;
}

.lv1-nav:hover:after {
    content: " ";
    position: absolute;
    border-bottom: solid 2px #ffffff;
    width:  100%;
    height: 10px;
    bottom: 1px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}
.navbar-toggler {
    border-color: #A6F;
}

.navbar-toggler:hover {
    box-shadow: 0 0 0 .25rem rgba(171, 102, 255, 0.11);
}

.navbar-icon {
    color: #95F;
}

.form {
    font-weight: bold;
}

.form-control {
    background-color: #0F0F1A;
    border-color: #A6F;
    color: #A6F;
}

.form-control:focus {
    background-color: #0f0f1a;
    color: white;
    border-color: #A6F;
    box-shadow: 0 0 0 .25rem rgba(171, 102, 255, 0.11);
}

.btn-outline-success {
    border-color: #31e2b4;
    color: #31e2b4;
    font-weight: bold;
}

.btn-outline-success:hover {
    color: black;
    background-color: #31e2b4;
    border-color: #31e2b4;
}

.btn-outline-success:active {
    color: black !important;
    background-color: #31e2b4 !important;
    border-color: #31e2b4 !important
}

.btn-outline-danger {
    border-color: #F02040;
    color: #F02040;
    font-weight: bold;
}

.btn-outline-danger:hover {
    color: black;
    background-color: #F02040;
    border-color: #F02040;
}

.btn-outline-danger:active {
    color: black !important;
    background-color: #F02040 !important;
    border-color: #F02040 !important;
}

.btn-outline-info {
    border-color: #56F;
    color: #56F;
    font-weight: bold;
}

.btn-outline-info:hover {
    border-color: #56F;
    color: black;
    background-color: #56F;
}

.btn-outline-info:active {
    border-color: #56F !important;
    color: black !important;
    background-color: #56F !important;
}

.btn-outline-warning {
    border-color: #FC2;
    color: #FC2;
    font-weight: bold;
}

.btn-outline-warning:hover {
    border-color: #FC2;
    color: black;
    background-color: #FC2;
}

.btn-outline-warning:active {
    border-color: #FC2 !important;
    color: black !important;
    background-color: #FC2 !important;
}
.form-select {
    background-color: #0F0F1A;
    border-color: #A6F;
    color: #A6F;
}
.form-select:focus {
    background-color: #0f0f1a;
    color: white;
    border-color: #A6F;
    box-shadow: 0 0 0 .25rem rgba(171, 102, 255, 0.11);
}

.body {
    background-color: #0F0F1A;
}

.card {
    background-color: #0F0F1A;
    border-color: #95F;
}
.card-header {
    background-color: #0F0F1A;
    font-weight: bold;
    color: #95F;
    font-size: larger;
}
.card-body:nth-child(2) {
    border-top: #95F solid 1px;
}
.card-body:nth-child(3) {
    border-top: #95F solid 1px;
}

.list-group-item {
    background-color: #0F0F1A;
    border-color: #95F;
}

.spinner {
    color: #53F;
}

.font-bold {
    font-weight: bold;
}

.important {
    color: #D05;
}

.font-text-1 {
    font-size: 1.3rem;
}

.font-1r {
    font-size: 1rem;
}

.font-2r {
    font-size: 2rem;
}

.font-3r {
    font-size: 3rem;
}

.h1, .h2, .h3, .h4 {
    color: white;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-variation-settings: 
        "wdth" 100;
}

.colorWhite {
    color: white;
}

.text {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.supershadow-title {
  text-shadow: 0 -2px 0 #50D, 0 2px 0 #50D,
    2px 0 0 #50D, -2px 0 0 #50D,
    -4px 2px 0 #50D, -2px 4px 0 #50D;
  filter: drop-shadow(0 0 1px #53F)
    drop-shadow(-1px 1px 0px #53F)
    drop-shadow(0 0 0px #53F)
    drop-shadow(-1px 0 0px #53F)
    drop-shadow(-1px 0 0px #53F)
    drop-shadow(-1px 0 0px #53F)
    drop-shadow(-1px 0 0px #53F);
}

.supershadow-text {
  text-shadow: 0 -1px 0 #50D, 0 1px 0 #50D,
    1px 0 0 #50D, -1px 0 0 #50D,
    -2px 1px 0 #50D, -1px 2px 0 #50D;
  filter: drop-shadow(0 0 1px #53F)
    drop-shadow(-1px 1px 0px #53F)
    drop-shadow(0 0 0px #53F)
    drop-shadow(-1px 0 0px #53F);
}


.input-group-text {
    background-color: #0F0F1A;
    border-color: #A6F;
    color: #95F;
}